[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "alfr"]
	path = alfr
	url = https://github.com/rwetherall/alfr
	shallow = true
	registered = true
[submodule "memofunc"]
	path = memofunc
	url = https://github.com/rwetherall/memofunc
	shallow = true
	registered = true
